# BDAT_1004_Problem Set 2_Khadija_Holder

# Question 1

In [1]:
a = 0

def b():
    global a
    a = c(a)
    return a

def c(a):
    return a + 2

print (b())
print (b())
print (b())
print (a)

2
4
6
6

# Question 2
# Find file length and return error if file not found

In [2]:
def fileLength(fname):
    try:
        #open text file in read mode
        text_file = open(fname,"r")
        print(len(text_file.readlines()))
    
    except:
        return "file "+ fname + " not found."

fileLength('midterm.py')

fileLength('idterm.py')

5

'file idterm.py not found.'

# Question 3a
# Create class Marsupial

In [3]:
class Marsupial:

#define the properties and assign none value       
#define the initialiser method

    def __init__(self):
            self.pouch = [] 
            
    def put_in_pouch(self, value):
        self.pouch.append(value) 
        
    def pouch_contents(self):
             
        print(self.pouch)
      
        
      
        

#Instance method
m = Marsupial() 

m.put_in_pouch('doll') 
m.put_in_pouch('firetruck') 
m.put_in_pouch('kitten') 
m.pouch_contents()

['doll', 'firetruck', 'kitten']

# Question 3b
# Create subclass Kangaroo

In [4]:
class Kangaroo(Marsupial):

    def __init__(self,x,y):
        super().__init__()
        self.x = x
        self.y = y
        
  
    def jump(self,dx,dy):
        self.x = self.x + dx
        self.y = self.y + dy
        
        
    def  __str__(self):
         return ("I am a Kangaroo located at coordinates ("+str(self.x)+","+str(self.y)+")")
        
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4
# Function to use Collatz sequence

In [5]:
def Collatz(n):

    print("The Collatz sequence is:")
# while n is not equal to 1
    while n != 1:
        print(n, end = ' ')

# If n is an odd number
        if n & 1:
            n = (3 * n)+ 1

# If n is an even number
        else:
            n = n // 2

    
    print(n)

# Driver code
Collatz(1)
Collatz(10)

The Collatz sequence is:
1
The Collatz sequence is:
10 5 16 8 4 2 1

# Question 5
# Decimal to binary conversion using recursion

In [6]:
def find( decimal_number ):
    if decimal_number == 0:
        return 0
    else:
        return (decimal_number % 2 + 10 *
                find(int(decimal_number // 2)))

# Driver Code
print("The binary conversion of the decimal numbers are:")
decimal_number = 0
print(find(decimal_number))


decimal_number = 1
print(find(decimal_number))

decimal_number = 3
print(find(decimal_number))

decimal_number = 9
print(find(decimal_number))

The binary conversion of the decimal numbers are:
0
1
11
1001

# Question 6
# Parse an HTML document

In [7]:
import re
from html.parser import HTMLParser
infile = open('w3c.html')
content = infile.read()
infile.close()


class HeadingParser(HTMLParser):
    def handle_starttag(self, tag, attrs):
        global getHeading
        match = re.match(r'h(\d)', tag, re.I)
        if match: getHeading = int(match.group(1))
            
    def handle_endtag(self, tag):
        match = re.match(r'h(\d)', tag, re.I)
        if match: getHeading = 0


    def handle_data(self, data):
        if getHeading > 0:
            tab = getHeading - 1
            out = " "*tab
            print(out+data)
            
getHeading = 0
hp = HeadingParser()
hp.feed(content)

W3C Mission


 Principles

# Question 7
# Implement recursive function
#(Note: URL returns an HTTP Status 404 â€“ Not Found Error)

In [ ]:
from bs4 import BeautifulSoup
import requests

urls=["one.html"]

site = "http://reed.cs.depaul.edu/lperkovic/csc242/test1.html"
url = 'one.html'
x = 0
def webdir(url,depth):
        r = requests.get (site+url)

        s = BeautifulSoup (r.text, "html.parser")
        for i in  s.find_all ("a"):
            global x
            if x < depth:
                x = x+1
                url = i.attrs['href']
                urls.append(url)
                webdir(url,depth)
            x = 0
webdir(url,2)

# Question 8
# Write SQL queries on the below database table

# Load SQL and Create table

In [9]:
%load_ext sql
%sql sqlite:///WeatherData_CitySamples.db

In [10]:
%%sql
create table CityWeatherSampleData(City varchar(20), Country varchar(20), Season varchar(20), Temperature float(5), Rainfall varchar(20))

 * sqlite:///WeatherData_CitySamples.db
Done.

[]

# Insert 1st row data

In [11]:
%%sql
insert into CityWeatherSampleData values('Mumbai','India','Winter','24.8','5.9');

 * sqlite:///WeatherData_CitySamples.db
1 rows affected.

[]

# Insert rest of data

In [12]:
%%sql
select * from CityWeatherSampleData

 * sqlite:///WeatherData_CitySamples.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, '5.9')]

In [13]:
%%sql
insert into CityWeatherSampleData values('Mumbai','India','Spring','28.4','16.2');
insert into CityWeatherSampleData values('Mumbai','India','Summer','27.9','1549.4');
insert into CityWeatherSampleData values('Mumbai','India','Fall','27.6','346.0');
insert into CityWeatherSampleData values('London','United Kingdom','Winter','4.2','207.7');
insert into CityWeatherSampleData values('London','United Kingdom','Spring','8.3','169.6');
insert into CityWeatherSampleData values('London','United Kingdom','Summer','15.7','157.0');
insert into CityWeatherSampleData values('London','United Kingdom','Fall','10.4','218.5');
insert into CityWeatherSampleData values('Cairo','Egypt','Winter','13.6','16.5');
insert into CityWeatherSampleData values('Cairo','Egypt','Spring','20.7','6.5');
insert into CityWeatherSampleData values('Cairo','Egypt','Summer','27.7','0.1');
insert into CityWeatherSampleData values('Cairo','Egypt','Fall','22.2','4.5');

 * sqlite:///WeatherData_CitySamples.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

# Display database table

In [14]:
%%sql
select * from CityWeatherSampleData

 * sqlite:///WeatherData_CitySamples.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, '5.9'),
 ('Mumbai', 'India', 'Spring', 28.4, '16.2'),
 ('Mumbai', 'India', 'Summer', 27.9, '1549.4'),
 ('Mumbai', 'India', 'Fall', 27.6, '346.0'),
 ('London', 'United Kingdom', 'Winter', 4.2, '207.7'),
 ('London', 'United Kingdom', 'Spring', 8.3, '169.6'),
 ('London', 'United Kingdom', 'Summer', 15.7, '157.0'),
 ('London', 'United Kingdom', 'Fall', 10.4, '218.5'),
 ('Cairo', 'Egypt', 'Winter', 13.6, '16.5'),
 ('Cairo', 'Egypt', 'Spring', 20.7, '6.5'),
 ('Cairo', 'Egypt', 'Summer', 27.7, '0.1'),
 ('Cairo', 'Egypt', 'Fall', 22.2, '4.5')]

# Question 8 a
# All the temperature data

In [15]:
%%sql
select Temperature
from CityWeatherSampleData

 * sqlite:///WeatherData_CitySamples.db
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

 # Question 8 b
 # All the cities, but without repetition

In [16]:
%%sql
select distinct City
from CityWeatherSampleData

 * sqlite:///WeatherData_CitySamples.db
Done.

[('Mumbai',), ('London',), ('Cairo',)]

# Question 8 c
# All the records for India

In [17]:
%%sql
select * 
from CityWeatherSampleData
where Country='India'

 * sqlite:///WeatherData_CitySamples.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, '5.9'),
 ('Mumbai', 'India', 'Spring', 28.4, '16.2'),
 ('Mumbai', 'India', 'Summer', 27.9, '1549.4'),
 ('Mumbai', 'India', 'Fall', 27.6, '346.0')]

# Question 8 d
# All the Fall records

In [18]:
%%sql
select * 
from CityWeatherSampleData
where Season='Fall'

 * sqlite:///WeatherData_CitySamples.db
Done.

[('Mumbai', 'India', 'Fall', 27.6, '346.0'),
 ('London', 'United Kingdom', 'Fall', 10.4, '218.5'),
 ('Cairo', 'Egypt', 'Fall', 22.2, '4.5')]

# Question 8 e
# The city, country, and season for which the average rainfall is between 200 and 400 millimeters

In [19]:
%%sql
select City, Country, Season, AVG(Rainfall)
from CityWeatherSampleData
Group by Rainfall
having AVG(Rainfall) between 200 and 400;

 * sqlite:///WeatherData_CitySamples.db
Done.

[('London', 'United Kingdom', 'Winter', 207.7),
 ('London', 'United Kingdom', 'Fall', 218.5),
 ('Mumbai', 'India', 'Fall', 346.0)]

# Question 8 f
# The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order

In [20]:
%%sql
select City, Country, Temperature 
from CityWeatherSampleData
where Temperature>20
order by Temperature asc

 * sqlite:///WeatherData_CitySamples.db
Done.

[('Cairo', 'Egypt', 20.7),
 ('Cairo', 'Egypt', 22.2),
 ('Mumbai', 'India', 24.8),
 ('Mumbai', 'India', 27.6),
 ('Cairo', 'Egypt', 27.7),
 ('Mumbai', 'India', 27.9),
 ('Mumbai', 'India', 28.4)]

# Question 8 g
# The total annual rainfall for Cairo

In [21]:
%%sql
select City, SUM(Rainfall)
from CityWeatherSampleData
where City='Cairo'

 * sqlite:///WeatherData_CitySamples.db
Done.

[('Cairo', 27.6)]

# Question 8 h
# The total rainfall for each season

In [22]:
%%sql
select Season, SUM(Rainfall)
from CityWeatherSampleData
group by Season

 * sqlite:///WeatherData_CitySamples.db
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

In [23]:
%%sql
drop table CityWeatherSampleData

 * sqlite:///WeatherData_CitySamples.db
Done.

[]

# Question 9

In [41]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# Change words in array to All CAPS(Uppercase)
wordsUcase = [letter.upper() for letter in words]
print(wordsUcase)
print("\n")

#Change words in array to all lowercase
wordsLcase = [letter.lower() for letter in words]
print(wordsLcase)
print("\n")


#Gives the word length of each word in array
word_length = []
for word in words:
    word_length.append(len(word))
print(word_length)


#Lists containing each word as uppercase,lowercase and the length
initializeCounterValue = 0
singleListArray = []
    
for h in words:
    singleListArray.append(wordsUcase[initializeCounterValue])
    singleListArray.append(wordsLcase[initializeCounterValue])
    singleListArray.append(word_length[initializeCounterValue])
    initializeCounterValue = initializeCounterValue + 1

delimiterVariableLimit = 3
resultArray = [singleListArray[additor:additor+delimiterVariableLimit] for additor in range(0, len(singleListArray), delimiterVariableLimit)]
print(resultArray)
print("\n")

#List of words of 4 characters or longer

def wordString(m, str):    
    string = []     
    text = str.split(" ")     
    for x in text:         
        if len(x) >= m:            
            string.append(x)             
    return string
    
result_list = [''.join([str(c) for c in lst]) for lst in words]
result_string = ' '.join(result_list)
requiredCharacterLength = 4
print(wordString(requiredCharacterLength, result_string))

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']


['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]


['quick', 'brown', 'jumps', 'over', 'lazy']